<aside th:fragment="sidebar" class="col-3">
    <div class="card-header d-flex gap-1">
        <i class="bi bi-collection"></i>
        <h2 class="">Wardroby</h2>
    </div>
    <div class="row p-2 mb-5">
        <h2 class="text">MENU</h2>
<ul class="nav flex-column">
    <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link btn btn-secondary">Dashboard</a></li>
    <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Wardrobe</a></li>
            <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Statistics</a></li>
            <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Profile</a></li>
        </ul>
    </div>
    <div class="row p-2 mb-5">
        <h2 class="text">LIBRARY</h2>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Favourites</a></li>
            <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Categories</a></li>
            <li class="nav-item"><a href="#" class="nav-link btn btn-secondary">Seasons</a></li>
        </ul>
    </div>
    <div class="row p-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:href="@{/items/add-item}" class="nav-link  btn btn-primary bg-primary">
                    <i class="bi bi-plus"></i>
                    Add New Item
                </a>
            </li>
            <li class="nav-item gap-1"><a th:href="@{/logout}" class="nav-link btn btn-secondary"><i class="bi bi-box-arrow-right"></i> <span th:text="${currentUser.firstName}">First Name</span> </a></li>
        </ul>
    </div>
</aside>